@media screen and (max-width: 1200px) {
  .header-include {
    position: relative;
    z-index: 100;
  }

  .popup-responsive {
    padding: 0 25px;
  }

  .popup-inner,
  .main-inner {
    width: 100%;
    padding: 0 60px;
  }

  main {
    padding-top: 30px;
    position: relative;
    z-index: 110;
  }

  .main-inner {
    display: block;
  }

  .main-left {
    width: 100%;
    padding-top: 45px;
    margin-bottom: 0px;
    border-right: none;
  }

  .main-left > section {
    padding-right: 0;
  }

  .main-right {
    width: 400px;
    height: 100vh;
    padding-top: 45px;
    background-color: #fff;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 110;
  }

  .main-right-top {
    padding: 75px 40px;
  }

  .main-right-top .responsive-close-btn {
    display: block;
    position: absolute;
    right: 40px;
    top: 40px;
  }

  .main-right-top .responsive-close-btn img {
    width: 14px;
    height: 14px;
  }

  .swiper-button-next.open-next {
    right: -25px;
  }

  /* top-banner  */
  .top-banner-next {
    right: -25px;
  }

  .top-banner-prev {
    left: -25px;
  }

  .bottom-banner .swiper-button-next {
    transform: translate(50%, -50%);
  }

  .recommend::after,
  .best-review::after {
    right: -60px;
  }
}

@media screen and (max-width: 1024px) {
  .popup-left {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ticket-open-swiper .swiper-slide > a {
    height: auto;
  }

  .ranking,
  .interpark-play > .top {
    flex-direction: column;
  }

  .interpark-play > .top {
    align-items: flex-start;
  }

  .interpark-play .tap-menu {
    margin-left: 0;
    margin-top: 45px;
  }

  .interpark-play .tap-menu li {
    padding: 5px 10px;
    margin: 0;
  }

  .ranking-left,
  .rank-poster-wrap {
    width: 100%;
  }

  .ranking-tabs {
    margin: 45px 0 50px;
  }

  .recommend-right {
    gap: 65px;
  }

  .recommend-right > a > img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1.368;
  }

  .rec-list > ul {
    width: auto;
  }

  .rec-list > ul > li {
    padding: 12px 40px 12px 0;
  }

  .recommend-left-txt h1,
  .musical-title h3 {
    font-size: 24px;
  }

  .interpark-vip .card {
    width: 20%;
  }

  .interpark-vip .card:nth-child(5) {
    display: none;
  }

  .interpark-vip .txt .discount > .price > div:nth-child(2) {
    font-size: 16px;
  }

  .interpark-vip .txt .discount > .rate > span:nth-child(1) {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .main-left {
    margin-bottom: 35px;
  }

  .popup-inner{
    padding: 0 20px;
  }

  .main-inner {
    padding: 0 40px;
  }

  .popup-responsive {
    padding: 0 20px;
  }

  .popup-left {
    width: 80%;
  }

  .popup-right input[type='checkbox'],
  .popup-right input[type='checkbox'] + label {
    display: none;
  }

  .main-visual-swiper {
    box-shadow: none;
    position: relative;
  }

  .main-visual-swiper::after,
  .ticket-open-swiper::after {
    content: '';
    display: block;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, #fff, #ffffff04);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .main-visual-swiper {
    box-shadow: none;
    position: relative;
  }

  .main-visual-swiper .swiper-button-next.open-next {
    display: none;
  }

  .main-visual-swiper::after,
  .ticket-open-swiper::after {
    content: '';
    display: block;
    width: 4%;
    height: 100%;
    background: linear-gradient(to left, #fff, #ffffff04);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .main-visual-swiper .small-thumb-group,
  .main-visual-swiper .main-visual-desc {
    display: none;
  }

  .main-visual {
    height: auto;
  }

  .ticket-open {
    height: auto;
  }

  .ticket-open {
    height: auto;
  }

  .top-banner::after {
    content: '';
    position: absolute;
    width: 4%;
    height: 150px;
    background: linear-gradient(to left, #fff, #ffffff00);
    top: 0;
    right: 0;
    z-index: 110;
  }

  .top-banner-controls {
    display: none;
    top: 50%;
  }

  .ticket-open-swiper .swiper-slide {
    padding-bottom: 20px;
  }

  .ticket-open-swiper .swiper-slide .open-ticket-tit br {
    display: none;
  }

  .ticket-open-swiper .swiper-slide > a {
    height: auto;
  }

  .ticket-open-swiper .swiper-slide > a > img {
    height: auto;
    aspect-ratio: 1/1;
  }

  .rank-poster-num {
    font-size: 100px;
  }

  .recommend {
    flex-direction: column;
    color: var(--black);
  }

  .recommend-left {
    display: block;
    width: 100%;
    padding-right: 0;
  }

  .recommend-left-txt {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .recommend-left-txt h1 {
    flex-shrink: 0;
    width: 50%;
    margin-top: -20px;
    font-size: 36px;
  }

  .musical-title h3,
  .musical-date {
    text-align: right;
  }

  .musical-title {
    margin-top: 0;
  }

  .musical-txt-wrap > .musical-fade-wrap {
    display: none;
  }

  .musical-txt-wrap {
    width: 50%;
    margin-bottom: 15px;
    min-width: 170px;
  }

  .musical-title h3,
  .musical-date {
    text-align: left;
  }

  .musical-title h3 {
    color: #03a1e2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .musical-date {
    margin-top: 5px;
    color: var(--silver);
  }

  .recommend::after {
    height: 20%;
    top: auto;
    bottom: -5%;
  }

  .recommend-right {
    width: 100%;
    align-items: flex-start;
    min-height: 300px;
    gap: 30px;
  }

  .recommend-right > a > img {
    min-width: 170px;
    top: auto;
  }

  .recommend .recommend-right > a > img.active {
    position: absolute;
  }

  .recommend-right > a,
  .recommend-right > .rec-list {
    width: 50%;
  }

  .recommend-right > .rec-list {
    order: -1;
  }

  .rec-list > ul > li {
    border-top: none;
    border-bottom: 1px solid var(--black);
  }

  .rec-list > ul > li.active {
    border-top: none;
    border-bottom: 3px solid var(--black);
  }

  .interpark-vip ul {
    display: grid;
    grid-template-columns: repeat(2, 46%);
    row-gap: 7%;
  }

  .interpark-vip .tit {
    margin-bottom: 55px;
  }

  .interpark-vip .card {
    width: 100%;
  }

  .interpark-vip .thumb-wrap img {
    aspect-ratio: 1/1;
  }

  .best-review-content {
    width: 50%;
  }

  .bestReviewSwiper01 {
    width: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }

  .bestReviewSwiper02 {
    width: 100%;
    margin-right: 0;
  }

  .rec-list > ul {
    padding-right: 30px;
  }

  .recommend-right,
  .recommend-left-txt {
    gap: 0px;
  }

  .middle-ad {
    display: none;
  }

  .res-middle-ad {
    display: flex;
    align-items: center;
    margin-top: 105px;
    position: relative;
  }

  .res-middle-ad a img {
    width: 75px;
    height: 75px;
  }

  .res-middle-ad span {
    margin-left: 24px;
    font-weight: 500;
    font-size: 16px;
  }

  .res-middle-ad b {
    display: inline-block;
    margin-top: 4px;
    font-size: 23px;
    font-weight: 900;
  }

  .middle-ad-arrow {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
  }

  .middle-ad-arrow a img {
    display: block;
    width: 14px;
    height: 24px;
  }

  .recommend::after,
  .best-review::after {
    right: -40px;
  }

  .swiper-button-prev.open-prev,
  .swiper-button-next.open-next {
    display: none;
  }

  .interParkPlaySwiper-wrapper {
    padding: 0 calc(45px / 2);
  }

  .interParkPlaySwiper::before,
  .interParkPlaySwiper::after {
    display: none;
  }

  .interpark-play .swiper-button-next.play-next-pc,
  .interpark-play .swiper-button-prev.play-prev-pc {
    display: none;
  }

  .interpark-play .swiper-button-next.play-next-responsive,
  .interpark-play .swiper-button-prev.play-prev-responsive {
    display: flex;
    width: 45px;
    height: 45px;
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .interpark-play .swiper-button-next.play-next-responsive.disabled,
  .interpark-play .swiper-button-prev.play-prev-responsive.disabled {
    display: none;
  }

  .interpark-play .swiper-button-next.play-next-responsive {
    right: 0;
  }

  .interpark-play .swiper-button-prev.play-prev-responsive {
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .popup-responsive {
    padding: 0;
  }

  .popup-inner,
  .main-inner {
    padding: 0 20px;
  }

  .res-middle-ad {
    margin-top: 60px;
  }

  .res-middle-ad a img {
    width: 60px;
    height: 60px;
  }

  .res-middle-ad span {
    margin-left: 15px;
    font-size: 14px;
  }

  .res-middle-ad span a {
    display: block;
    width: 200px;
    padding-right: 20px;
  }

  .res-middle-ad b {
    font-size: 16px;
  }

  .middle-ad-arrow > a > img {
    width: 10px;
    height: 18px;
  }

  .main-right {
    width: 100%;
  }

  .main-visual-swiper::after {
    display: none;
  }
  .ticket-open {
    margin-top: 60px;
  }
  .ticket-open-swiper .swiper-slide .open-ticket-min > .seat {
    padding: 2px 5px;
  }

  .recommend::after,
  .best-review::after {
    right: -20px;
  }

  .best-review {
    flex-direction: column;
    height: auto;
    padding: 70px 0;
  }

  .best-review-txt {
    padding: 0 0 35px;
    text-align: center;
  }

  .best-review-content {
    width: 100%;
    height: 400px;
  }

  .recommend-right {
    flex-direction: column;
  }

  .recommend-right > a {
    margin-bottom: 60px;
  }

  .recommend-right > .rec-list {
    margin-bottom: 130px;
  }

  .recommend-right > a,
  .recommend-right > .rec-list {
    width: 100%;
  }

  .rec-list > ul {
    padding-right: 0;
  }
  .rec-list > ul > li {
    padding: 20px 40px 20px 0;
  }
  .recommend-right > a > img {
    width: 70%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .recommend .recommend-right > a > img.active {
    position: relative;
  }

  .musical-txt-wrap {
    display: none;
  }

  .recommend-left-txt {
    display: block;
  }

  .recommend-left {
    margin-bottom: 40px;
  }

  .recommend-left-txt h1 {
    width: 100%;
  }

  .recommend::after {
    height: 55%;
    bottom: 0;
  }

  .best-review-txt > h1 + div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .best-review-txt > h1 + div p {
    margin: 0;
  }

  .best-review-txt > h1 > br {
    display: none;
  }

  .musical-txt-wrap-mobile {
    align-self: center;
    display: block;
    width: 70%;
    margin-bottom: 20px;
    position: relative;
  }

  .musical-title h3,
  .musical-date {
    color: #fff;
    text-align: center;
  }

  .musical-date {
    margin-top: 10px;
  }

  .bottom-banner .swiper-button-next,
  .bottom-banner .swiper-button-prev {
    display: none;
  }

  .bottom-banner .bottom-banner-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .ranking-left {
    margin-right: 0;
  }

  .rank-poster > a > img {
    border-radius: var(--border-radius5);
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.25);
  }

  .rank-poster-num {
    display: none;
  }

  .top-banner::after {
    display: none;
  }

  .top-banner-swiper .swiper-pagination.top-banner-pagi {
    display: block;
    margin-top: 20px;
  }

  .top-banner-swiper .swiper-pagination.top-banner-pagi {
    margin-top: 3px;
    position: static;
  }

  .top-banner .top-banner-controls {
    display: none;
  }

  .top-banner-swiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0;
  }

  .top-banner-swiper .swiper-pagination-bullet-active {
    background-color: var(--black);
    width: 15px;
    border-radius: 30px;
  }

  .view-all {
    display: none;
  }

  .bottom-banner {
    margin: 70px 0 100px;
  }
}
